header{
  background-color: #282c34;
  min-height: 70px;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav{
  display: flex;
  margin-left: auto;
}

nav a{
  color: #61dafb;
  text-decoration: none;
  font-size:15px ;
  margin: 0 10px;
  color:white
}
.mainDiv1{
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 580px;
  height: 390px;
  border-radius: 2em;
  margin-top: 100px;
}

